certifi==2024.7.4
geographiclib==2.0
geopy==2.3.0
luadata==1.0.5
lupa==1.10
lxml==4.9.3
networkx==3.1
osmread==0.2
packaging==23.1
pyparsing==3.0.9
pyproj==3.6.0
python-dateutil==2.8.2
utm==0.7.0
scipy==1.12.0
numpy==1.26.4
